.footer__column-link {
    display: flex;
    align-items: center;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
    list-style: none;
    margin-left: 0;
    opacity: 1;
    transition: .5s ease;
  }
  
  .footer__column-link:hover {
    opacity: 0.5;
  }