.footer__column-links {
    line-height: 30px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 16px;
    width: 100%;
    font-weight: normal;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }